= form_for(@post) do |f|
  #upload.text-center
    = f.label :image, "Upload new photo"
    %br
    .image_upload
      = f.file_field :image
    %img.upload_preview{src: ""}
    %br
    = f.text_field :message, label: false, placeholder: "Say some words."
    %br
    = f.submit :value => "Post It!", :class => 'btn btn-primary'
