= form_for(@post) do |f|
  #upload
    = f.label :image, "Upload new photo"
    %br
    = f.file_field :image
    %br
    = f.label :message, "Say some words"
    %br
    = f.text_field :message
    %br
    = f.submit :value => "Post It!", :class => 'btn btn-primary'
