.text-center
  = form_tag posts_path, :method => 'get', :id => "index_search" do
    = text_field_tag :search, params[:search], :placeholder=> "Search", class: "search-box", id: "search"
    = button_tag(type: "submit", class: "btn search-btn") do
      %i.fa.fa-search
-if @posts.any?
  -@posts.each do |post|
    .row.post_display
      .post_image.col-md-12=image_tag(post.image.url(:large))
      .col-md-6
        .pull-left
          -existing_like = post.likes.where(user_id: current_user.id).first if user_signed_in?
          .pull-left.total_likes="#{post.likes.count}"
          =link_to post_likes_path(post), class: "add-like" do
            %i.fa{class: existing_like ? "fa-heart" : "fa-heart-o"}
          =link_to "#", class: "add-comment" do
            %i.fa.fa-comment-o
      .col-md-6
        .pull-right
          .post_buttons
            -if can? :update, post
              =link_to edit_post_path(post), class: "edit-button" do
                %i.fa.fa-pencil
            -if can? :destroy, post
              =link_to post_path(post), method: :delete, class: "delete-button" do
                %i.fa.fa-trash
      .col-md-12
        .post_message.raleway
          ="@#{post.user.username} "
          = hashtagify(post.message).html_safe
      .col-md-12.comment_form
        %form
          %textarea.new_comment{name: "new-comment", placeholder: ("You must be signed in to comment." unless current_user), data: { post_id: post.id, user_id: (current_user.id if current_user) }, disabled: !current_user}
          %i.fa.fa-comment.submit-comment{disabled: !current_user}
      .col-md-12.photo_comments
        - post.comments.each do |comment|
          .row.post_message.raleway
            = "@#{comment.user.username}: "
            = hashtagify(comment.content).html_safe
-else
  %h3 No posts yet.
